@font-face {
    font-family: 'kalameh';
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/Kalameh(FaNum)-Light.ttf') format('truetype'), url('/assets/fonts/KalamehWeb(FaNum)-Light.woff') format('woff');
  }
  
  @font-face {
    font-family: 'kalameh';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Kalameh(FaNum)-Regular.ttf') format('truetype') ,url('/assets/fonts/KalamehWeb(FaNum)-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'kalameh';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/Kalameh(FaNum)-Medium.ttf') format('truetype'), url('/assets/fonts/KalamehWeb(FaNum)-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'kalameh';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/Kalameh(FaNum)-Bold.ttf') format('truetype'), url('/assets/fonts/KalamehWeb(FaNum)-Bold.woff') format('woff');
  }
  
  *, body{
    font-family: 'kalameh' !important;
  }
  
  .btn, .btn a {
    line-height: normal;
}