.box_slider {
  display: flex;
  flex-wrap: wrap;
}
.box_slider .slider {
  width: 68%;
  direction: ltr;
  margin-left: 20px;
}
.main_slider {
  position: relative;
}
.slider .item img {
  max-width: 100%;
  border-radius: 12px;
}
.baner {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.baner .baner_top,
.baner .baner_bottom {
  width: 100%;
}
.baner .baner_top img,
.baner .baner_bottom img {
  max-width: 100%;
  border-radius: 12px;
}
.slider .owl-carousel .owl-nav button.owl-next,
.slider .owl-carousel .owl-nav button.owl-prev {
  display: none;
}
.slider .owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  right: 45%;
}
.slider .owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--hover);
}
.slider .owl-theme .owl-dots .owl-dot span {
  background-color: var(--primary);
}
/*
    Start Slider Product Sale
*/
/*
    End Slider Product Sale
*/

/*
    Start Service
*/
.box_services {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.box_services .service {
  padding: 11px 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  background-color: #fff;
}
.service_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
span.service_title {
  font-size: 1.3rem;
  font-weight: 500;
}
span.service_desc {
  font-size: 1.1rem;
  font-weight: 300;
}

/*
    Start Product
*/
.section_product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.section_product .box_product {
  width: 24%;
}

/*
    Start Category Pic
*/
.category_pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.cate_img img {
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}
.cate_img:hover img {
  opacity: 1;
}

/*
    Start Slider Product
*/
.slider {
  width: 100%;
  direction: ltr;
}
.slider .slider_title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--heading);
}
/*
    Start Count Down
*/
.proposition {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #f3f3f3;
}
.body_proposition {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 100px;
}
.countdown_banner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.countdown_banner h4 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--heading);
}
.countdown_banner h3 {
  font-size: 8rem;
  font-weight: 800;
  color: var(--primary);
}
.countdown_banner a {
  border: 1px solid var(--primary);
  padding: 10px 20px;
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  margin: 0 85px;
}
.img_proposition {
}
.img_proposition img {
}
.countdown_time {
  display: flex;
  direction: ltr;
  margin-bottom: 30px;
}
.countdown_box {
  width: 25%;
  padding: 0 15px;
}
.countdown-wrap {
  background: #fff;
  padding: 15px 20px;
  text-align: center;
  border-radius: 10px;
}
.countdown_box .countdown {
  font-size: 2em;
}
.countdown_box .cd_text {
  display: block;
}
